<div class="row">
    <div class="col-md-12">
        <h1>{{title}}
            <a href="/departments/add" class="btn btn-success pull-right" style="margin-top:5px;">Add New Department</a>
        <h1>
                <hr /> </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table class="table table-responsive">
            <tr>
                <th>Department Number </th>
                <th>Department Name </th>
            </tr>
            {{#each data}}
            <tr>
                <td><a href="/department/{{departmentId}}">{{departmentId}}</a></td>
                <td> {{departmentName}} </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>